<h1>New Place</h1>

<% if @current_user %>
  <%= form_with model: @place do |form| %>
    <p>
      <%= form.label "name" %>
      <%= form.text_field "name" %>
      <%= form.hidden_field "user_id"%>
    </p>
    <p>
      <%= form.submit %>
    </p>
  <% end %>
<% else %>
    You must first <a href="/sessions/new">login</a> to post.
<% end %>