<h1><%= @place.name %></h1>

<p>
 <a href="/posts/new?place_id=<%=@place.id%>" class="btn btn-success">Add a new post for this location?</a>
</p>

<div class="row">
  <% for post in @place.posts.where({ user_id: session[:user_id]}) %>
    <div class="col-md-3 offset-1 bg-secondary text-white">

      <h4>
        <%="#{post.title}"%>
      </h4>

      <p>
        <%="#{post.description}"%>
      </p>

      <% if post.uploaded_image.attached? %>
        <img src="<%= url_for(post.uploaded_image) %>" class="img-fluid">
      <% end %>

      <p><%="Posted on #{post.posted_on}"%></p>
    </div>
  <% end %>
</div>

<br>

<p>
 <a href="/places" class="btn btn-success">Return to Home Page</a>
</p>